<style>
	@media (min-width: 991px) {
		nav, footer {
			padding-left: 320px;
		}
	}
</style>
<!DOCTYPE html>
<html>
	<head>
		<title>JJConnecting</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<nav>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo">JCHAT</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li>
							<a href="/">Find More Friends</a>
						</li>
						<li>
						<% if session[:user_id].nil? %>
							<a href="/login" >Login</a>
						<% else %>
							<a href="/logout" >Logout</a>
						<% end %>
						</li>
					</ul>
				</div>
			</nav>

		</header>
		<div class=col s12">
					<div id="flash_messages">
					  <% flash.each do |key, value| %>
					    <%= content_tag(:div, value, :class => "flash #{key}") %>
					  <% end %>
					</div>
				</div>

		<main>
			<div class="row" style="min-height: 900px">
				
				<div class="col s3">
					<ul id="slide-out" class="side-nav fixed">
						<li>
							<div class="userView">
								<div class="background">
									<img src='http://materializecss.com/images/office.jpg' : session[:user]["avatar"]  %>" />
								</div>
								<a href="#!user"><img src="<%= session[:user].nil? ? 'https://s-media-cache-ak0.pinimg.com/originals/d4/e7/aa/d4e7aa60eb6a782d5d25340debaa1ad6.jpg' :  session[:user]["avatar"] %> </a>
								<a href="#!name"><span class="white-text name"><%= session[:user].nil? ? 'Welcome, Guest' :  session[:user]["name"] %> n</span></a>
								<a href="#!email"><span class="white-text email"><%= session[:user].nil? ? '' :  session[:user]["name"] %></span></a>
							</div>

						</li>

						<li>
							<span><strong>LIST FRIENDS</strong></span>
						</li>
						<li>
							<div class="divider"></div>
						</li>
						<% if session[:user].nil? == FALSE %>
							<% currentUser = User.find(session[:user_id])
								listFriend = currentUser.list_friends
								listFriend.each do |i|
							 %>	
							 <% friend = User.find(i) 
							 	unread = Message.countUnredMessage(i, session[:user_id])
							 %>
							 	<li > 
								 	<a href="/readmessage/<%= i %>"
								 	<% if unread > 0 %>
								 		style="font-weight: bolder;color:blue" 
								 	<% end %> 
								 		class="waves-effect" > 
								 		<%= friend.name %> <% if unread > 0 %>  - (  <%= unread %>  ) <% end %>
								 	</a>
							 	</li>
							 <% end %>
						<% end %>

					</ul>
				</div>
				<div class="col s9">
					<%= yield() %>
				</div>
			</div>

		</main>

		<footer class="page-footer" style="padding-top:0px">
			<div class="footer-copyright">
				<div class="container">
					© 2014 Copyright Text
					<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
				</div>
			</div>
		</footer>

	</body>

	<script>
		$(document).ready(function() {

			$('.button-collapse').sideNav({
				closeOnClick : true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable : true // Choose whether you can drag to open on touch screens
			});

		});
	</script>
<!DOCTYPE html>
